body{
    width: 90%;
    margin: auto;
    font-size: 0.9em;
}
.img{
    text-align: center;
}
.search{
    text-align: center;
    background-color: #eeeeee;
}
.footer{
    margin-top: 5px;
    width: 100%;
}
.footer-element{
    padding-top:10px;
    padding-bottom:10px;
    float:left;
    text-align: center;
    height: 100px;
}
.main-footer{
    text-align: center;
}